<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:name=".SoundStreamApplication"
        tools:replace="android:name"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/j.Theme" >
        <activity android:name="io.github.dot166.soundstream.MainActivity" android:exported="true" android:label="@string/app_name_short" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="io.github.dot166.soundstream.RadioActivity" android:exported="true" android:label="@string/app_name_short" />

        <service
            android:name="io.github.dot166.soundstream.RadioService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" >
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <receiver android:name="io.github.dot166.soundstream.KeyGenReceiver" />
    </application>

</manifest>